.profile {
  margin-top: 70px;
}

.profile .photo {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid #fff;
}

.profile .name {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18pt;
  color: #777;
}

.profile .info {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 11pt;
  color: #aaa;
}

.profile .desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: #999;
  font-size: 11pt;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.social {
  margin: 5px 0 12px 0;
  text-align: center;
  display: inline-block;
  font-size: 20pt;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:nth-child(1)  { color: #4267b2; }
.social i:nth-child(2)  { color: #1da1f2; }
.social i:nth-child(3)  { color: #bd081c; }
.social i:nth-child(4)  { color: #36465d; }

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  padding: 0 25px 0 25px !important;
}