---
layout: default
---

<div class="row">
    <div class="col-12 profile">
        <img class="photo" src="/assets/image/profile.jpeg">
        
        <h4 class="name">{{ site.author.name }} / {{ site.author.namekr }}</h4>

        <div class="social">
            <a href="https://plus.google.com/u/0/108547008897918499969" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            <a href="https://github.com/dorongii" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/na-yeon-park-a2264a126/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
        
        <p class="info"><a href="{{ site.author.url }}" target="_blank">{{ site.author.url }}</a></p>
        <p class="info"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
        
        <p class="desc">{{ site.author.desc }}</p>

        
        {{ content }}
    </div>
</div>